* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #F4F4F4;
	overflow-x:hidden;
}
#back{
	width: 100%;
	height: 100%;
	z-index: -90;
	position: fixed;
}
#line{
	top:10.3em;
	width: 90%;
	left: 5%;
	background-color: #CCCCCC;
	height: 0.2em;
	position: absolute;
}
.title{
	margin: 3.72em 0 1em 6%;
	font-size: 2em;
	color: #FFFFFF;
	border-bottom: 0.1em solid #CCCCCC;
	position: absolute;
}
.nav{
	height: 4em;
	width:100%;
	background-color: #282828;
	vertical-align:middle;
	box-shadow: 4px 4px 3px #888888;
	position: fixed;
	z-index: 40;
}
.nav a{
	text-decoration: none;
}
.nav ul{
	list-style: none;
}
.nav li{
	float:left;
	color:#FFFFFF;
	padding: 1.5% 4.5%;
	cursor:pointer;
	font-size: 1.3em;
}
.nav li:hover{
	background:#414141;
}
.drop{
	top:4em;
	height: 25%;
	width: 100%;
	cursor:pointer;
	z-index: 50;
	position: absolute;
	background-color: #444444;
	box-shadow: 4px 4px 3px #888888;
	display: none;
	position: fixed;
}
.drop ul{
	float:left;
	margin-left: 4%;
	padding: 0.6em 1.3em 0.6em;
}
.drop ul:first-child{
	margin-left: 15%;
}
.drop li{
	vertical-align:middle;
	color:#EDEDED;
	font-size: 1.1em;
	padding: 0.5em 0 0.5em;
}
.article{
	top: 22%;
	height: 280%;
	width: 60%;
	left:8%;
	position: absolute;
}
.post{
	position: relative;
	background-color: #FAFAFA;
	margin: 8% 0;
	padding: 12% 10% 10% 18%;
	width: 70%;
	height: 100%;
	color: #444444;
	font-size:1.2em;
	border-radius:0.8em;
	box-shadow: 8px 8px 6px #444444;
}
.post b{
	font-size: 1.6em;
	left: 10%;
	top: 1.5%;
	position: absolute;
	color: #000000;
	cursor:pointer;
}
.post img{
	width: 100%;
	position: relative;
}
.time{
	margin-top: 2em;
	color: #BBBEC3;
}
.continue{
	right: 10%;
	margin-top: -1.2em;
	color: #BBBEC3;
	cursor:pointer;
	position: absolute;
}
.right{
	top: 32%;
	height: 130%;
	width: 20%;
	left: 72%;
	background-color: #EEEEEE;
	position: absolute;
	border-radius:0.8em;
	opacity: 0.4;
	box-shadow: 8px 8px 6px #111111;
}
.right input{
	top: 2em;
	height: 2em;
	left: 1em;
	position: absolute; 
}
.rss{
	top:5em;
	left: 1.4em;
	position: absolute;
	font-size: 1.2em;
	cursor:pointer;
}
.recentPost{
	top:8em;
	left: 1em;
	position: absolute;
	list-style: none;
}
.right li{
	margin-top: 1em;
	margin-left: 0.6em;
	font-size: 1.1em;
	border-bottom: 0.1em solid #DCDCDC;
	cursor:pointer;	
	color: #000000;
	opacity: 1;
}
.recentComment{
	top:25em;
	left: 1em;
	position: absolute;
	list-style: none;
}
#gotop{
    bottom: 10%;
    left: 85%;
    height: 3em;
    width:3em;
    background: url(../img/gotop.png) no-repeat 0 -260px;
    cursor: pointer;
    overflow: hidden;
    position: fixed;
    border-radius:0.6em;
    display:none;
}
#gotop:hover{
    background-position:-47px -260px;
}
.newcomment{
	top:355%;
	left: 8%;
	width: 59%;
	height: 30%;
	position: absolute;	
}
.newcomment p{
	color: #444444;
	margin: -2em 0 0 1.5em;
	font-size: 1.3em;
	position: absolute;
}
.newcomment button{
	right: 6%;
	bottom: -7%;
	width: 15%;
	height: 18%;
	position: absolute;
}
#text{
	width: 100%;
	height:100%;
	border-radius:0.7em;
	box-shadow: 8px 8px 6px #444444;
	border: none;
	resize: none;
	font-size: 1.2em;
}
.bottom{
	top:396%;
	width: 100%;
	padding-bottom: 3%;
	position: absolute;
	text-align:center;
	font-size: 1.1em;
	color: #DEDEDE;
}