* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #F4F4F4;
}

.nav{
	height: 60px;
	width:100%;
	background-color: #282828;
	vertical-align:middle;
	box-shadow: 4px 4px 3px #888888;
}
.nav a{
	text-decoration: none;
}
.nav ul{
	list-style: none;
}
.nav li{
	float:left;
	color:#FFFFFF;
	padding: 20px 60px;
	font-size: 20px;
}
.nav li:hover{
	background:#414141;
}
.drop{
	display: none;
	position: absolute;
	height: 150px;
	width: 100%;
	background-color: #444444;
	box-shadow: 4px 4px 3px #888888;
	z-index: 10;
}
.drop ul{
	float:left;
	margin-left: 50px;
	padding: 5px 25px 5px;
}
.drop li{
	vertical-align:middle;
	color:#EDEDED;
	font-size: 18px;
	padding: 10px 0 10px;
}
.slider ul{
	list-style: none;
}
.slider li{
	float:left;
	display:none;
	position: absolute;
}
#first{
	margin-left: 210px;
}
.middle{
	background-color: #7F2B20;
	top:480px;
	height: 60px;
	width: 100%;
	position: absolute;
	box-shadow: 4px 4px 3px #888888;
}
.middle ul{
	list-style:none;
	padding-left: 10%;
}
.middle li{
	float: left;
	padding: 20px 8%;
	margin: 0 4%;
	font-size: 20px;
	color:#EEEEEE;
}
#middle1:hover{
	background:#19C93A;
}
#middle2:hover{
	background:#FF9742;
}
#middle3:hover{
	background:#19B9F9;
}
.watchroom {
	background-image: url(../img/watchback.png);
	top:85%;
	height: 82%;
	width: 100%;
	position: absolute;
	box-shadow: 4px 4px 3px #888888;
	z-index: -10;
}
.watchroom *{
	position: absolute;
}
.exhibition {
	background-color: #FFE1C8;
	padding: 0px;
	margin: 0px;
	top:160%;
	height: 70%;
	width: 100%;
	position: absolute;
	box-shadow: 4px 4px 3px #888888;
}
.museum {
	background-color: #01A48A;
	top:250%;
	height: 70%;
	width: 100%;
	position: absolute;
	box-shadow: 4px 4px 3px #888888;
}
.bottom{
	margin-top: 30px;
	top:300%;
	width: 100%;
	position: absolute;
	text-align:center;

}
#watch1{
	top:3%;
	left: 6%;
	width:30%;
	height:42%;
}
#cover1{
	top:30%;
	left:6%;
	height:20%;
	width:30%;
	background-color: #2D3035;
	z-index: 10;
	opacity: 0.75;
	color: #FFFFFF;
	display: none;
}
#cover1 b{
	margin: 48px 0px 0px;
	padding-left: 15px;
	font-size: 18px;
}
#cover1 p{
	margin: 55px 0px 0px;
	padding: 22px 0px 0px 15px;
	opacity: 1;
	font-size: 18px;
}

#watch2{
	top:47%;
	left:22%;
	width:30%;
	height:42%;
}
#watch3{
	top:47%;
	left:6%;
	width:15%;
	height:42%;
}
#watch4{
	top:3%;
	left:37%;
	width: 15%;
	height:42%;
}
#watch5{
	top:3%;
	left:53%;
	width:21%;
	height:86%;
	position: absolute;
}
#watch6{
	top:3%;
	left:75%;
	width:21%;
	height:86%;
}

