* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #F4F4F4;
}
.nav{
	height: 4em;
	width:100%;
	background-color: #282828;
	vertical-align:middle;
	box-shadow: 4px 4px 3px #888888;
}
.nav a{
	text-decoration: none;
}
.nav ul{
	list-style: none;
}
.nav li{
	float:left;
	color:#FFFFFF;
	padding: 1.5% 4.5%;
	font-size: 1.3em;
}
.nav li:hover{
	background:#414141;
}
.drop{
	display: none;
	position: absolute;
	height: 25%;
	width: 100%;
	background-color: #444444;
	box-shadow: 4px 4px 3px #888888;
	z-index: 10;
}
.drop ul{
	float:left;
	margin-left: 4%;
	padding: 0.6em 1.6em 0.6em;
}
.drop ul:first-child{
	margin-left: 15%;
}
.drop li{
	vertical-align:middle;
	color:#EDEDED;
	font-size: 1.1em;
	padding: 0.5em 0 0.5em;
}

.slider ul{
	list-style: none;
}
.slider li{
	float:left;
	display:none;
	position: absolute;
}

.middle{
	background-color: #7F2B20;
	top: 75%;
	height: 10%;
	width: 100%;
	position: absolute;
	box-shadow: 4px 4px 3px #888888;
}
.middle ul{
	list-style:none;
	padding-left: 10%;
}
.middle li{
	float: left;
	padding: 1.1em 5em;
	margin: 0 4%;
	font-size: 1.2em;
	color:#EEEEEE;
}
#middle1:hover{
	background:#19C93A;
}
#middle2:hover{
	background:#FF9742;
}
#middle3:hover{
	background:#19B9F9;
}

.watchroom {
	background-color: #EDEDED;
	top:85%;
	height: 82%;
	width: 100%;
	position: absolute;
	box-shadow: 4px 4px 3px #888888;
	z-index: 0;
}
.watchroom *{
	position: absolute;
}
#watch1{
	top:3%;
	left: 6%;
	width:30%;
	height:42%;
	z-index: -10;
}
#cover1{
	top:45%;
	left:6%;
	height:20%;
	width:30%;
	background-color: #2D3035;
	z-index: 10;
	opacity: 0.75;
	color: #FFFFFF;
	display: none;
	z-index: -5;
	font-size: 1.1em;
}
#cover1 b{
	margin-top: 1.5em;
	padding-left: 1em;
}
#cover1 p{
	margin-top: 3em;
	padding: 1.2em 0 0 1em;
}

#watch2{
	top:47%;
	left:22%;
	width:30%;
	height:42%;
}
#watch3{
	top:47%;
	left:6%;
	width:15%;
	height:42%;
}
#watch4{
	top:3%;
	left:37%;
	width: 15%;
	height:42%;
}
#watch5{
	top:3%;
	left:53%;
	width:21%;
	height:86%;
	position: absolute;
}
#watch6{
	top:3%;
	left:75%;
	width:21%;
	height:86%;
}


.exhibition {
	background-color: #F6F6F6;
	top:160%;
	height: 70%;
	width: 100%;
	position: absolute;
	box-shadow: 4px 4px 3px #888888;
}
.museum {
	background-color: #EDEDED;
	top:230%;
	height: 70%;
	width: 100%;
	position: absolute;
	box-shadow: 4px 4px 3px #888888;
}
.bottom{
	margin-top: 2em;
	top:300%;
	width: 100%;
	position: absolute;
	text-align:center;
}
