* {
	margin: 0;
	padding: 0;
}
body {
	background-color: #F4F4F4;
	overflow-x:hidden;
}
#back{
	width: 100%;
	height: 100%;
	z-index: -90;
	position: fixed;
}
#line{
	top:15%;
	width: 90%;
	left: 5%;
	background-color: #CCCCCC;
	height: 0.2em;
}
#title{
	margin: 1em 0 1em 6%;
	font-size: 2em;
	color: #FFFFFF;
}
.nav{
	height: 4em;
	width:100%;
	background-color: #282828;
	vertical-align:middle;
	box-shadow: 4px 4px 3px #888888;
}
.nav a{
	text-decoration: none;
}
.nav ul{
	list-style: none;
}
.nav li{
	float:left;
	color:#FFFFFF;
	padding: 1.5% 4.5%;
	font-size: 1.3em;
}
.nav li:hover{
	background:#414141;
}
.drop{
	display: none;
	position: absolute;
	height: 25%;
	width: 100%;
	background-color: #444444;
	z-index: 10;
	box-shadow: 4px 4px 3px #888888;
}
.drop ul{
	float:left;
	margin-left: 4%;
	padding: 0.6em 1.3em 0.6em;
}
.drop ul:first-child{
	margin-left: 15%;
}
.drop li{
	vertical-align:middle;
	color:#EDEDED;
	font-size: 1.1em;
	padding: 0.5em 0 0.5em;
}
.slider{
	width: 100%;
}
.slider ul{
	list-style: none;
}
.slider li{
	float:left;
	display:none;
	position: absolute;
}
#float1{
	position: absolute;
	left:100%;
	top:22%;
	z-index: 10;
}
#float3{
	position: absolute;
	top:35%;
	left:100%;
	z-index: 10;
}
#float4{
	position: absolute;
	top:60%;
	left:100%;
	z-index: 10;
}
.middle{
	background-color: #7F2B20;
	bottom: 0;
	height: 10%;
	width: 100%;
	position: absolute;
	z-index: 10;
	box-shadow: 5px 5px 4px #888888;
}
.middle ul{
	list-style:none;
	padding-left: 10%;
}
.middle li{
	float: left;
	padding: 1.1em 5em;
	margin: 0 4%;
	font-size: 1.2em;
	color:#EEEEEE;
}
#middle1:hover{
	background:#19C93A;
}
#middle2:hover{
	background:#FF9742;
}
#middle3:hover{
	background:#19B9F9;
}

.watchroom {
	top:100%;
	height: 90%;
	width: 100%;
	position: absolute;
	z-index: 0;
}
.watchroom *{
	position: absolute;
	z-index: 0;
}
.merge1{
	top: 18%;
	left:5%;
	width:30%;
	height: 38%;
}
.watch1{
	width:100%;
	height:100%;
	z-index: -10;
	position:relative;
}
.cover1{
	width: 100%;
	height: 44%;
	color: #FFFFFF;
	display:none;
	background-color: #2D3035;
	opacity: 0.75;
	font-size: 1.2em;
}
.cover1 b{
	padding-top: 1.2em;
	margin-left: 1em;
}
.cover1 p{
	padding-top: 2.2em;
	margin: 1em;
}
.merge2{
	top: 58%;
	left:5%;
	width:14%;
	height: 36%;
}
.watch2{
	width:100%;
	height:100%;
}
.cover2{
	width: 100%;
	height:100%;
	color: #FFFFFF;
	background-color: #2D3035;
	opacity: 0.8;
	font-size: 1.2em;
	display: none;
}
.cover2 b{
	padding-top: 6em;
	margin-left: 1em;
}
.cover2 p{
	padding-top: 8em;
	margin: 1em;
}
.merge3{
	top:18%;
	left:36%;
	width: 14%;
	height:38%;
}
.watch3{
	width:100%;
	height:100%;
}
.cover3{
	width: 100%;
	height:100%;
	color: #FFFFFF;
	background-color: #2D3035;
	opacity: 0.8;
	font-size: 1.2em;
	display: none;
}
.cover3 b{
	padding-top: 6.5em;
	margin-left: 1em;
}
.cover3 p{
	padding-top: 8.5em;
	margin: 1em;
}
.merge4{
	top:58%;
	left:20%;
	width:30%;
	height:36%;
	z-index: 10;
}
.watch4{
	width:100%;
	height:100%;
}
.cover4{
	width: 100%;
	height:100%;
	color: #FFFFFF;
	background-color: #2D3035;
	opacity: 0.8;
	font-size: 1.2em;
	display: none;
}
.cover4 b{
	padding-top: 7em;
	margin-left: 1em;
}
.cover4 p{
	padding-top: 8em;
	margin: 1em;
}
.merge5{
	top:18%;
	left:51%;
	width:20%;
	height:76%;
}
.watch5{
	width:100%;
	height:100%;
}
.cover5{
	bottom: 0;
	width: 100%;
	height:28%;
	left: -105%;
	color: #FFFFFF;
	background-color: #2D3035;
	opacity: 0.8;
	font-size: 1.2em;
	display: none;
}
.cover5 b{
	padding-top: 1.5em;
	margin-left: 1em;
}
.cover5 p{
	padding-top: 3.5em;
	margin: 1em;
}
.merge6{
	top:18%;
	left:72%;
	width:23%;
	height:76%;
}
.watch6{
	width:100%;
	height:100%;
}
.cover6{
	bottom: 0;
	width: 100%;
	height:28%;
	color: #FFFFFF;
	background-color: #2D3035;
	opacity: 0.8;
	font-size: 1.2em;
	display: none;
}
.cover6 b{
	padding-top: 1.5em;
	margin-left: 1em;
}
.cover6 p{
	padding-top: 3.4em;
	margin: 1em;
}
.exhibition {
	top:191%;
	height: 90%;
	width: 100%;
	position: absolute;
	z-index: 0;
}
.exhibition *{
	position: absolute;
	z-index: 0;
}
.museum {
	top:282%;
	height: 90%;
	width: 100%;
	position: absolute;
	z-index: 0;
}
.museum *{
	position: absolute;
	z-index: 0;
}
.bottom{
	margin-top: 2em;
	top:380%;
	width: 100%;
	position: absolute;
	text-align:center;
	font-size: 1.1em;
	color: #DEDEDE;
}
